.selection {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-wrapper {
  height: 1600px;
  overflow: hidden;
  width: 803px;
}

.frame {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  overflow: hidden;
  padding: 77px 40px;
  position: relative;
  width: fit-content;
}

.div-qsigns {
  background-color: #f2f9ff;
  border-radius: 8px;
  height: 92px;
  min-width: 1159px;
  position: relative;
}

.div {
  align-items: flex-start;
  display: flex;
  gap: 30px;
  left: 159px;
  position: relative;
  top: 30px;
  width: fit-content;
}

.frame-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.span {
  background-color: #27b446;
  border-radius: 32px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.text-wrapper {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  left: 11px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 9px;
}

.text-wrapper-2 {
  color: #393b3f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 210.94px;
}

.frame-3 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.span-hd-de {
  background-color: #e00000;
  border-radius: 32px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  left: 11px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 9px;
}

.text-wrapper-4 {
  color: #393b3f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 233px;
}

.frame-4 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.div-wrapper {
  background-color: #393b3f;
  border-radius: 32px;
  height: 32px;
  min-width: 32px;
  position: relative;
}

.text-wrapper-5 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 19px;
  left: 11px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 9px;
}

.text-wrapper-6 {
  color: #393b3f;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 210.94px;
}

.frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 39px;
  position: relative;
  width: fit-content;
}

.frame-6 {
  align-items: center;
  display: flex;
  gap: 174px;
  position: relative;
  width: fit-content;
}

.frame-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  width: fit-content;
}

.p {
  color: #393b3f;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 21px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 251.9px;
}

.h-1 {
  color: #27b446;
  font-family: "Roboto", Helvetica;
  font-size: 58px;
  font-weight: 400;
  height: 68px;
  letter-spacing: 0;
  line-height: 69.6px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 247.33px;
}

.text-wrapper-7 {
  color: #e00000;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  height: 21px;
  letter-spacing: 0;
  line-height: 18px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 165.62px;
}

.a-chart {
  height: 200px;
  min-width: 579px;
  position: relative;
}

.frame-8 {
  background-image: url(vector-6.svg);
  background-size: 100% 100%;
  height: 200px;
  position: relative;
  width: 579px;
}

.group {
  height: 14px;
  left: 78px;
  position: absolute;
  top: 11px;
  width: 425px;
}

.text-wrapper-8 {
  color: #393b3f;
  font-family: "Arial-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.vector {
  height: 12px;
  left: -3641px;
  position: absolute;
  top: -6613px;
  width: 423px;
}

.group-2 {
  height: 143px;
  left: 2px;
  position: absolute;
  top: 38px;
  width: 505px;
}

.img {
  height: 124px;
  left: -3565px;
  position: absolute;
  top: -6615px;
  width: 423px;
}

.overlap-group {
  height: 143px;
  left: 0;
  position: absolute;
  top: 0;
  width: 505px;
}

.group-3 {
  height: 124px;
  left: 75px;
  position: absolute;
  top: 0;
  width: 423px;
}

.group-4 {
  height: 130px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 505px;
}

.group-5 {
  height: 14px;
  left: 73px;
  position: absolute;
  top: 116px;
  width: 9px;
}

.text-wrapper-9 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-6 {
  height: 14px;
  left: 157px;
  position: absolute;
  top: 116px;
  width: 9px;
}

.text-wrapper-10 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-7 {
  height: 14px;
  left: 242px;
  position: absolute;
  top: 116px;
  width: 9px;
}

.text-wrapper-11 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-8 {
  height: 14px;
  left: 326px;
  position: absolute;
  top: 116px;
  width: 9px;
}

.text-wrapper-12 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-9 {
  height: 14px;
  left: 411px;
  position: absolute;
  top: 116px;
  width: 9px;
}

.text-wrapper-13 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-10 {
  height: 14px;
  left: 491px;
  position: absolute;
  top: 116px;
  width: 16px;
}

.text-wrapper-14 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-11 {
  height: 14px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 42px;
}

.text-wrapper-15 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.group-12 {
  height: 14px;
  left: 37px;
  position: absolute;
  top: 41px;
  width: 38px;
}

.text-wrapper-16 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.group-13 {
  height: 14px;
  left: 0;
  position: absolute;
  top: 82px;
  width: 75px;
}

.text-wrapper-17 {
  color: #393b3f;
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}
